<h2></h2>

<div>
<ng-container *ngIf="this.repos">
  <ul class="list list-view-filter" *ngFor="let repo of this.repos.search.edges">
    <li>
        <div class="name">Repository Name: {{repo.node.name}}</div>
        <div class="description">Description: {{repo.node.description}}</div> 
        <div class="url">URL: <a href={{repo.node.url}}>{{repo.node.url}}</a></div> 
    </li>   
</ul>
</ng-container>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->